<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="au.com.cybersearch2.statusbar.example"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://au.com.cybersearch2.statusbar.example/au.com.cybersearch2.statusbar.example.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/au.com.cybersearch2.statusbar.example/css/default.css">
         </property>
         <property
               name="appName"
               value="au.com.cybersearch2.statusbar.example">
         </property>
      </product>
   </extension>

</plugin>
